
/*Alternate classes & styles
*/
ul li {
	list-style-image:none;
	list-style-position:outside;
}
.button:hover {
	background:#F00 url(sprite.png) repeat-x 0 -130px;
}

/*Page layout
*/

.hot-line {
	padding:10px 58px 0 0;
	width:470px;
	line-height:64px;
}

.top-nav { 
	margin:-8px 0 0;
	padding:0 0 8px 149px;
}
.top-nav-list i {
	display:inline;
	zoom:1;
}
.active-language {
	display:inline;
	zoom:1;
}
.nav {	
	line-height:39px;
	border:1px solid #B6B6B6;
	background:url(sprite.png) repeat-x 0 0;
	text-align:center;
	clear:both;
}
	.nav li {
		display:inline;
		zoom:1;
	}
		
	.nav a {
		display:inline;
		zoom:1;
		margin:-1px 0 0;
		line-height:40px;
	}


.ways dd {
	margin:35px 0 0 -712px;
	width:709px;
}


.awards-list {
	float:right;
	width:529px;
	height:73px;
}
	.awards-list li {
		float:left;
		margin:8px 5px 0;
		width:120px;
		text-align:center;
	}
	.awards-list img {	
		width:42px;
		margin:0 auto;
	}


.events-title {
	margin:16px 0 6px 0;
}
	.events-list li {
		margin:0;
	}
	.events-list-date {
		zoom:1;
		overflow:hidden;
		padding:0;
	}

.trading-central-list dt {
	margin-left:-1px;
	margin-right:0px;
}
.trading-central-list > :first-child {
	margin-left:0px;
}
	
.directory-list > li {
	display:inline;
	zoom:1;
}