@import url(reset.css);

/*Alternate classes & styles
*/
a {
	color:#F00;
}


.float-left {
	float:left;
}
.float-right {
	float:right;
}
.banner-240 {
	float:right;
	margin:0 0 8px;
	width:240px;
	height:400px;
	background:#737373;
}
.banner-714 {
	float:right;
	margin:0 0 8px;
	width:714px;
	height:80px;
	background:#737373;
}
#nojs .banner-714 {
	float:left;
}

.button {
	margin:0 0 8px;
	display:block;
	width:220px;
	height:49px;
	line-height:49px;
	background:#BBB url(sprite.png) repeat-x 0 -79px;
	border-radius:30px;
	box-shadow:0 1px #B6B6B6;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	-moz-box-shadow:0 1px #B6B6B6;
	-webkit-box-shadow:0 1px #B6B6B6;
	
	color:#FFF;
	font-size:16px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

.button:hover {
	background:#F00 url(sprite.png) repeat-x 0 -129px;
}

ul li {
	list-style-image:url(bullet.png);
	list-style-position:inside;
}

.tabs {
	
}
	#js .tabs dt {
		float:left;
		position:relative;
		background:url(sprite.png) repeat-x 0 -43px;
		border-bottom:none;
		cursor:pointer;
	}
	#js .tabs dt.selected {
		border-bottom-color:#FFF;
		z-index:10;
	}
	#js .tabs dd {
		position:relative;
		float:right;
		display:none;
		width:100%;
		margin:0 0 0 -100%;
	}
	#js .tabs dd.selected {
		display:block;
	}
/*Page layout
*/



body {
	font:12px/18px Arial, Helvetica, Tahoma, sans-serif;
	color:#000;
	background:#D0D0D0 url(bg.body.png) no-repeat 50% 0;
}

#page {
	margin:0 auto;
	width:968px;
}

#header {
	margin:0 0 15px;
	padding:12px 0 0;
	position:relative;
	
}
	.site-title {
		width:420px;
		height:87px;
	}
	.site-title a {
		display:block;
		padding:4px 0 0 38px;
		color:#3D3D3D;
		text-decoration:none;
	}
	.site-logo-wrapper {
		position:relative;
		padding:30px 0 0 10px;
		width:77px;
		height:57px;
	}
		.site-logo-img {
			position:absolute;
			top:0;
			left:0;
			width:87px;
			height:87px;
			background:url(logo.ru.png) no-repeat 0 0;
		}
	.site-title-text {
		margin:14px 0 0 24px;
		width:270px;
		font-size:22px;
		line-height:26px;
		text-transform:uppercase;
	}
		.site-title-text span {
			color:#737373;
		}
		
	.hot-line {
		margin:-14px 0 0 0;
		padding:30px 58px 0 0;
		width:468px;
		background:url(ph.png) no-repeat top right;
		font-size:18px;
		text-transform:uppercase;
		word-spacing:-1px;
	}
		.hot-line-q {
			font-family:"Arial Narrow";
			font-size:54px;
			color:#FFF;
		}
		.hot-line p {
			line-height:54px;
		}
		.hot-line-number {
			font-size:38px;
			word-spacing:-2px;
		}
		
	.top-nav {
		float:left;
		margin:-8px 0 16px 149px;
		width:740px;
		font-size:11px;
		text-transform:uppercase;
	}
		.top-nav-list {
			float:right;
		}
		.top-nav-list li {
			float:left;
			list-style-image:none;
			margin:-3px 0 0 30px;
			padding:3px 6px;
		}
		.top-nav-list a {
			color:#737373;
			text-decoration:none;
		}
		
		.top-nav-list i {
			display:inline-block;
			margin:0 6px 0 0;
			width:17px;
			height:17px;
			background:url(sprite.png) no-repeat 0 0;
			vertical-align:top;
		}
		.top-nav-list .chat i {
			background-position:0 -452px;
		}
		.top-nav-list .chat:hover i {
			background-position:0 -469px;
		}
		.top-nav-list .forum i {
			background-position:0 -485px;
		}
		.top-nav-list .forum:hover i {
			background-position:0 -503px;
		}
		.top-nav-list .cabinet i {
			background-position:0 -520px;
		}
		.top-nav-list .cabinet:hover i {
			background-position:0 -537px;
		}
		/*Enter personal area JS*/
		.cabinet-form {
			position:absolute;
			left:0;
			top:-8px;
			display:none;
			padding:35px 10px 10px;
			background:#FFF;
		}
		li.cabinet-form-active {
			position:relative;
			z-index:5;
		}
		.cabinet-form-active .cabinet {
			position:relative;
			color:#000;
			z-index:6;
		}
		.cabinet-form-active .cabinet i {
			background-position:0 -537px;
		}
		.cabinet-form-active a:focus {
			outline:none;
		}
		.cabinet-form-active fieldset {
			display:block;
			border:1px solid #CBCBCB;
			border-radius:10px;
			-moz-border-radius:10px;
			-webkit-border-radius:10px;
		}
		.cabinet-form-active dd {
			margin:2px 0;
		}
		.cabinet-form-active input {
			margin:0 0 6px;
		}
		/*end*/
		.language {
			position:relative;
			margin:3px 0;
			float:left;
			width:16px;
			height:11px;
			background:url(flags.png) no-repeat 0 0;
			cursor:pointer;
			z-index:5;
		}
			.flag-ru {
				background-position:0 -11px;
			}
		#lang-select {
			float:left;
		}
		#js #lang-select {
			display:none;
		}
		.nearest-branch {
			position:relative;
			float:left;
			margin:-3px 0 0;
			padding:3px 0;
		}
			.nearest-branch li {
				float:left;
				list-style-image:none;
			}
			.nearest-branch a {
				width:16px;
				height:11px;
			}
		.nearest-branch-title {
			position:relative;
			cursor:pointer;
			color:#F00;
			font-style:oblique;
			z-index:5;
		}
		.nearest-branch div {
			position:absolute;
			top:-6px;
			left:-4px;
			padding:30px 10px 10px;
			display:none;
			width:200px;
			background:#FFF;
			border:1px solid #CBCBCB;
			border-radius:10px;
			-moz-border-radius:10px;
			-webkit-border-radius:10px;
			z-index:2;
		}
			.nearest-branch div li {
				display:inline;
				list-style-image:none;
			}
			.nearest-branch div h3 {
				margin:8px 0 4px;
			}
		.nearest-branch-active div {
			display:block;
		}

		
	.nav {

		line-height:42px;
		border-radius:30px;
		box-shadow:0 1px #B6B6B6;
		-moz-border-radius:30px;
		-webkit-border-radius:30px;
		-moz-box-shadow:0 1px #B6B6B6;
		-webkit-box-shadow:0 1px #B6B6B6;
		background:url(sprite.png) repeat-x 0 0;
		text-align:center;
		clear:both;
	}
		.nav li {
			display:inline-block;
		}
		
		.nav a {
			display:inline-block;
			padding:0 22px;
			border-left:1px solid #B6B6B6;
			color:#3D3D3D;
			font-weight:bold;
			line-height:42px;
			text-decoration:none;
			text-transform:uppercase;
			vertical-align:top;
		}
		.nav a:hover {
			color:#C70000;
		}
		.nav > :first-child a {
			border-left:none;
		}
	
.index #content {
	overflow:hidden;
}
	/*Begin carousel on the main page*/
	.slides {
		float:right;
		margin:0 0 8px;
		position:relative;
		width:800px;
		height:280px;
		border:1px solid #737373;
		overflow:hidden;
	}
		.carousel-control {
			display:none;
		}
		.slides .center-wrap {
			position:absolute;
			top:0;
			right:0;
		}
		.carousel-pagination {
			z-index:3;
		}
			.carousel-pagination a {
				display:inline-block;
				padding:4px 10px;
				margin:6px;
				color:#FFF;
				border-radius:14px;
				-moz-border-radius:14px;
				-webkit-border-radius:14px;
				background:#B6B6B6;
				cursor:pointer;
			}
			.carousel-pagination a.active,
			.carousel-pagination a:hover {
				background:#F00;
			}
		.slides ul {
			position:absolute;
		}
		.slides li {
			float:left;
			width:798px;
			list-style-image:none;
			list-style-position:outside;
		}
	
	/*End carousel*/
	
	.deposit-withdraw {
		float:left;
		margin:0 0 8px;
		position:relative;
		width:164px;
		height:282px;
		text-align:center;
	}
	.deposit-withdraw a {
		color:#F00;
		font-weight:bold;
		text-decoration:none;
		text-transform:uppercase;
	}
	.deposit-withdraw-title {
		margin:32px auto 18px;
		width:130px;
		color:#737373;
		font-size:13px;
		text-transform:uppercase;
	}
		.deposit-withdraw-title span {
			color:#F00;
			font-size:16px;
		}
	.deposit-withdraw img {
		margin:0 0 10px;
		padding:1px;
		border:1px solid #737373;
	}
	
	/*Ways - newbee, professional, investor*/
	.ways {
		float:left;
		margin:11px 0 8px;
		width:712px;
	}
	#js .ways {
		position:relative;
		height:308px;
		overflow:hidden;
	}
		#js .ways dt {
			margin:1px 0 0 5px;
		}
		.ways dt {
			margin:10px 0 0;
			width:172px;
			height:34px;
			line-height:35px;
			border:1px solid #CBCBCB;
			border-bottom:none;
			border-top-left-radius:30px;
			border-top-right-radius:30px;
			-moz-border-radius-topleft:30px;
			-moz-border-radius-topright:30px;
			-webkit-border-top-left-radius:30px;
			-webkit-border-top-right-radius:30px;
			
			color:#737373;
			text-align:center;
			text-transform:uppercase;
		}
		#js .ways > :first-child {
			margin-left:0;
		}
		.ways dt.selected,
		#nojs .ways dt {
			color:#F00;
			background:#FFF;
			border-bottom:none;
			cursor:auto;
		} 
		
		.ways dd {
			position:relative;
			height:272px;
			background:#FFF;
			border:1px solid #CBCBCB;
			border-bottom-left-radius:30px;
			border-bottom-right-radius:30px;
			-moz-border-radius-bottomleft:30px;
			-moz-border-radius-bottomright:30px;
			-webkit-border-bottom-left-radius:30px;
			-webkit-border-bottom-right-radius:30px;
		}
		#js .ways dd {
			margin:35px 1px 0 -714px;
			width:709px;
			height:272px;
		}
		.ways-wrapper {
			margin:34px 0 0 236px;
		}
		.ways img {
			position:absolute;
			bottom:0;
			left:35px;
		}
		.ways ul {
			margin:20px 0 0;
		}
		.ways li {
			font-size:14px;
			line-height:24px;
		}
		.ways .button {
			position:absolute;
			bottom:10px;
			right:20px;
		}
		.ways-title {
			font-size:20px;
		}
		
	/*End ways*/

	.awards {
		float:left;
		margin:0 0 8px;
		width:709px;
		height:73px;
		background:#FFF url(award.png) no-repeat 10px 0;
	}
	
		.awards h2 {
			float:left;
			margin:22px 0 0 70px;
			width:110px;
			color:#F00;
			font-size:14px;
			text-transform:uppercase;
		}
			.awards h2 span {
				color:#4B4B4B;
			}
		.awards-list {
			float:right;
			height:73px;
		}
			.awards-list a {
				color:#000;
				text-decoration:none;
			}
			.awards-list li {
				float:left;
				margin:6px 28px 0 0;
				list-style-image:none;
			}
			.awards-list img {
				display:block;
				margin:0 auto;
			}


	.events {
		float:left;
		padding:0 10px 20px;
		width:220px;
		background:#FBFBFB;
	}
	#nojs .events {
		float:right;
	}
		.events-title {
			margin:22px 0 6px 22px;
			color:#303030;
			font-size:16px;
			text-transform:uppercase;
		}
		.events-title-icon {
			position:absolute;
			margin:0 0 0 -22px;
			width:16px;
			height:17px;
			background:url(sprite.png) no-repeat -17px -451px;
		}
		.company-news .events-title-icon {
			background-position: -17px -451px;
		}
		.elearning .events-title-icon {
			background-position: -17px -526px;
		}
		.special-offers .events-title-icon {
			background-position: -17px -469px;
		}
		
		
		.events-list li {
			margin:0 0 18px;
			list-style-image:none;
		}
			.events-list li a {
				color:#000;
				text-decoration:none;
			}
		.events-list-date {
			display:block;
			color:#818181;
		}
		.events hr {
			display:block;
			border:none;
			border-top:1px solid #F1F1F1;
			border-bottom:1px solid #C5C5C5;
		}
		.events-link-to-all {
			text-align:center;
			text-transform:uppercase;
		}
		.special-offers-link {
			text-align:center;
		}
			.special-offers-link img {
				display:block;
				margin:0 auto;
			}
		
	.about-company,
	.analytics {
		float:right;
		margin:0 0 8px;
		padding:20px;
		width:674px;
		background:#FFF;
		border-radius:30px;
		-moz-border-radius:30px;
		-webkit-border-radius:30px;
	}
	#nojs .about-company,
	#nojs .analytics {
		float:left;
	}
		.analytics-title {
			font-size:14px;
			color:#F00;
			text-transform:uppercase;
		}
			.analytics-title span {
				color:#4B4B4B;
			}
		.about-company-title {
			margin:0 0 8px;
			color:#3D3D3D;
			font-size:22px;
			text-transform:uppercase;
		}
		.about-company-title span {
			display:block;
			color:#737373;
			font-size:17px;
		}
		.about-company .video {
			width:320px;
			height:201px;
			background:#737373;
		}
		.about-company-text,
		.about-company-list {
			width:336px;
		}
		.about-company-text {
			color:#737373;
		}
		.about-company-list {
			margin:18px 0 0;
			line-height:2;
			color:#212121;
			text-transform:uppercase;
		}
		
	.dowjones-list,
	.trading-central-list {
		margin:4px 0 18px;
	}
	.dowjones-date,
	.economic-calendar-date {
		color:#737373;
	}
	.trading-central-list {
		float:left;
		color:#939393;
		font-size:11px;
		
	}
		.trading-central-list dt {
			margin-left:-2px;
			margin-right:1px;
			padding:0 2em;
			line-height:26px;
			background:url(sprite.png) repeat-x 0 -181px;
			border:1px solid #D0D0D0;
		}
		.trading-central-list dt.selected,
		#nojs .trading-central-list dt {
			color:#000;
			background:none;
			font-weight:bold;
		}
		#js .trading-central-list dd {
			margin-top:27px;
			border:1px solid #D0D0D0;
		}
		#nojs .trading-central-list dd {
			margin-bottom:20px;
		}
		.trading-central-list th,
		.trading-central-list td {
			padding:4px 6px;
			border-bottom:1px solid #D0D0D0;
		}
		
	.economic-calendar-wrapper {
		float:left;
	}
	.economic-calendar-list	{
		margin:4px 0 0;
	}
		
	.calculator {
		float:right;
		width:91px;	
		background:url(ct.png) no-repeat 0 0;
	}
		.calculator a {
			position:relative;
			display:block;
			height:119px;
			text-decoration:none;
		}
		.calculator span {
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			color:#737373;
			font-size:11px;
			text-align:center;
			text-transform:uppercase;	
		}


.sub #content {
	float:right;
	width:706px;
}
.sub #sidebar {
	float:left;
	width:246px;
}

#footer {
	overflow:hidden;
}
	.directory-list {
		margin:35px auto;
		text-align:center;
		width:920px;
	}
	.directory-list h3 {
		font-weight:bold;
	}
	.directory-list > li {
		display:inline-block;
		width:180px;
		text-align:left;
		vertical-align:top;
	}
	.directory-list > li li {
		list-style-image:none;
		font-size:11px;
	}
	#footer hr {
		display:block;
		margin:20px 0 10px;
		border:1px solid #BBB;
		border-bottom-color:#E3E3E3;
		border-right:0;
		border-left:0;
	}
	#footer .copy {
		color:#F9F9F9;
		text-align:center;
	}